*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* Navegacion */
    header {
        grid-area: header;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    .nav-main {
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 60px;
        
        
    }
    
    .nav-brand {
        width: 200px;
    }
    
    .nav-main ul {
        display: flex;
    }
    
    .nav-main ul li {
        padding-left: 20px;
    }
    
    .nav-main ul li a:hover {
        border-bottom: 2px solid black;
    }
    


    a {
        text-decoration: none;
        /*quita el subrallado*/
    }
    
    ul {
        list-style: none;
    }

    /*boton responsivo*/

    .menu-btn {
        color: black;
        background: none;
       border: none;
       font-size: 30px;
       padding: 0 20px;
        line-height: 60px;
       cursor: pointer;

      display: none;
    }
    /*social*/
    
    .social {
        grid-area: article;
    
    }
    
    .social h3 {
        text-align: center;
        font-size: 30px;
        font-family: 'Quicksand', sans-serif;
        
    }
    
    .links {

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    
    .links a i {
        font-size: 3rem;
    }
    
    .slider {
        width: 100%;
        height: 500px;
        overflow: hidden;
        grid-area: principal;
    }

    .slider ul{
        display: flex;
        animation: cambio 20s infinite alternate linear;
        width: 400%;
    }

    .slider li{
        width: 100%;
        list-style: none;
    }

    .slider img{
        width: 100%;
    }
    
    @keyframes cambio{
        0%{margin-left: 0;}
        20%{margin-left: 0;}
        25%{margin-left: -100%;}
        45%{margin-left: -100%;}
        50%{margin-left: -200%;}
        70%{margin-left: -200%;}
        75%{margin-left: -300%;}
        100%{margin-left: -300%;}
    }

    .titulo{
        grid-area: titulo;
        display: flex;
        justify-content: center;
        border-bottom: #d8cfcf 1px solid;
        align-items: flex-end;
        padding-top: 20px;
        padding-bottom: 20px;

    
    }

    .titulo h1{
    
        font-family: 'Quicksand', sans-serif;
    }

    .servicios {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
        justify-content: center;
        justify-items: center;
        place-content: center;
        background-color: #2f3648;
    
        
    }

    .servicios div{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;      

    }
    
    .servicios img {
        width: 85%;
        height: 100%;
        transition: transform .5s;
    
        opacity: 0.5;
    }
    
    .servicios img:hover{
          transform:translateY(-20px);
          
    }
    
    .servicios h2{
        padding: 20px;
        color: #fff;
        position: initial;
    
    }
    .servicios p{
    
        color: #fff;
        text-align: left;
        width: 80%;
    }

  /*cartas-servicios*/
.cartas-servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    margin-top: 60px;
    margin-bottom: 20px;
    grid-area: main;
    background-color: aliceblue;
  }
  .cartas-servicios h3 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    padding: 10px;
    font-family: "Quicksand", sans-serif;
  }
  .cartas-servicios div {
    border-left: 1px solid black;
  }
  .cartas-servicios div li {
    padding: 10px;
    margin: 10px;
    font-family: "Quicksand", sans-serif;
    list-style: none;
  }
  .cartas-servicios a {
    padding: 10px 0;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
  }
  .cartas-servicios a:hover {
    text-decoration: underline;
  }
  .cartas-servicios i {
    position: relative;
    font-size: 30px;
    padding: 10px;
    left: 200px;
    bottom: 40px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-radius: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
    .logos-marca {
        grid-area: section;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logos-marca img {
        width: 75%;
        border-bottom: #2f3648 1px solid;
        border-top: #2f3648 1px solid;
    }
    
    article {
        grid-area: article;
    }
    
    .opciones {
        grid-area: div;
        background-color: gray;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 35px;
        background: #262626;
    }
    
    .opciones a {
        padding: 60px;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
        font-size: 25px;
        color: whitesmoke;
    }
    
    .opciones a:hover {
        color: white;
        background-color: #2f3648;
        opacity: .6;
    }
    
    
    .maquinas{
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        
    }

    .maquinas div{
        
        text-align: center;
        padding-left: 10px;
        
    }
    .historia_maquinas img {
        width: 200px;
        height: 200px;
        background-color: gainsboro;
    }
    
    .historia_maquinas h2 {
        text-align: center;
        padding: 40px;
        font-size: 30px;
    }
    
    .historia_descripcion h2 {
        text-align: left;
        padding: 10px;
    }
    
    .historia_descripcion p {
        text-align: left;
    }
    
    .contacto h2 {
        padding: 20px;
    }
    
    .contacto p {
        padding: 10px;
    }
    
    .contacto i {
        font-size: 2rem;
        margin-top: 10px;
    }
    
    .menu_contacto {
        border: 2px solid gray;
        
    }
    
    .menu_horarios p {
        padding: 10px;
        margin-top: 20px;
    }
    
    .menu_horarios i {
        margin-top: 40px;
        font-size: 2rem;
    }
    
    .inferior {
        width: 90%;
        margin-left: 60px;
    }
    
    .menu_horarios {
        border: 2px solid gray;
        margin-top: 80px;
    }

   .secciones{
       grid-area: secciones;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr ;
       gap: 60px;
       color: #fff;
       font-size: 20px;
       background: #3d4550;
       padding: 40px;
       background-image: url(../img/puesta\ en\ marcha.jpg) ;
       
   }
   


   .nosotros p{
       
        padding: 5px 5px 0;
    }

    .nosotros h4{
        margin-bottom: 20px;
    }
   
 

   .contacto h5{
    padding: 20px 20px 0;
   }
   .secciones a{
       color: #fff;
   }
   .secciones a:hover{
    border-bottom: 2px solid black ;
}
   
   
   
   .sections a{
    
      display: inline-block;
      padding: 10px 10px 0;
   }
   

   footer {
    background-color: lightgray;
    color: #141313;
    text-align: right;
    grid-area: footer;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


footer img{
    width: 100px;
    height: 60px;
    
    border-radius: 10px;
    box-shadow: 0 0 50px #ddd;
    background: #fff;
    padding: 10px;
    margin-top: 10px;

}

footer h6{
    margin-top: 10px;
    
}
.links-footer{
    display: flex;
    align-items: flex-end;
    
    
    font-size: 30px;
    justify-content: space-between;
    
    
   
}


.links-footer i{
   
   display: flex;
   justify-content: space-around;
   width: 50px;
}




.banner{
    grid-area: principal;
}
.banner img{
    width: 100%;

}
 
.contact{
    width: 90%;
    grid-area: secciones;
    padding: 20px;
    background-color: rgb(231, 226, 226);
    

}

.contact{
    font-family: 'Quicksand', sans-serif;
}
  

.form-group input{
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    padding: 20px;
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;

}
.form-group label{
    height: 30px;
    padding: 20px;
    margin-bottom: 20px;

}

.mensaje{
    width: 95%;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
    

.btn-enviar{
    width: 100px;
    height: 50px;
    margin-left: 20px;
    
}
 
.provincias{
    width: 200px;
    
}


.banner_servicios{
    grid-area: principal;
}
.banner_servicios img{
    width: 100%;
}

.mapouter{
   margin-left: 30px;
}

.mapa{
    margin: 0;
    grid-area: principal;
}
.mapouter{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: center;
}

.principal{
    grid-area: principal;
    height: 200px;
}

.cat{

    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.categorias{
    margin-bottom: 30px;
    margin-top: 20px;
    height: 100px;
}

.categorias h2{
    border-bottom: 1px gainsboro solid;
    margin-bottom: 20px;
}
.categorias ul li a{
    font-size: 20px;
    color: black;
    border-bottom: 1px solid gainsboro;
}
.categorias h2 i{
    padding: 10px;
}

.archivos h2{
    border-bottom: 1px gainsboro solid;
    margin-bottom: 20px;
}
.archivos ul li a{
    font-size: 20px;
    color: black;
    border-bottom: 1px solid gainsboro;
}
.archivos h2 i{
    padding: 10px;
}
.card-blog1 p{
   padding: 10px;  
}

.seccion1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card4 img{
    height: 300px;
}
.card4{
    
    text-align: center;
}

.card3 p{
    border: 1px solid black;
}

.card-blog img{
    height: 200px;
}
.card-blog p{
    padding: 10px;
}




.container-grid {

        display: grid;

        grid-template-areas: "header header header""principal principal principal""titulo titulo titulo" "main main main" "main main main""section section section""article article article ""div div div""secciones secciones secciones" "secciones secciones secciones""footer footer footer";   
     }

    
    @media (max-width: 992px) {
        .menu-btn {
            display: block;
            
        }
        .menu-btn:hover {
            opacity: 0.5;
        }
        .nav-main ul.nav-menu li a {
            color: #ffffff;
        }
        .nav-main ul.nav-menu {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: #3d4550;
            width: 50%;
            height: 100%;
            border-right: #ccc 1px solid;
            opacity: 0.9;
            padding: 30px;
            transform: translateX(-500px);
            transition: transform 0.5s ease-in-out;
        }
        .nav-main ul.nav-menu show {
            transform: translateX(-20px);
        }
        .nav-main ul.nav-menu li {
            padding: 20px;
            border-bottom: #ccc solid 1px;
            font-size: 14px;
        }
        .nav-main ul.nav-menu li:last-child {
            border-bottom: 0;
        }
        .nav-main ul.nav-menu.show {
            transform: translateX(-20px);
        }
        .nav-main ul.nav-menu-right {
            margin-right: 50px;
        }
        .nav-menu-right a i {
            color: black;
        }
        .servicios {
            grid-template-columns: 1fr 1fr;
        }
    

       
        .fab {
            color: blue;
        }
        .opciones {
            
            grid-template-columns: 1fr;
        }
        .opciones a{
            margin: 0;
        }
    }
    
    .nosotros{
        margin: 0;
    }
    .cartas-servicios{
        grid-template-columns: 1fr 1fr ;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .cat{
        border-top: 1px solid black;
    }
    
    
    @media (max-width: 768px) {
       
       
        .slider{
            width: 100%;
        }
        
       .servicios div h2{
           margin: 0;
       }
       .servicios div img {
           margin: 0;
       }
       .servicios div p{
           margin: 0;
       }
      
        section {
            padding: 20px;
        }
        .opciones {
            grid-template-columns: 1fr;
        }
        .principal {
            background-size: contain;
        }
        .historia_descripcion {
            padding: 20px;
        }
        .contacto {
            padding: 20px;
        }
       
        .historia {
            margin-bottom: 30px;
        }
        
        .maquinas{
            grid-template-columns: 1fr;
            
        }
        .servicios{
            grid-template-columns: 1fr;
        }

        .secciones{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            justify-items: center;
            align-items: center;
            text-align: center;
        }

        .seccion1{
            grid-template-columns: 1fr;
        }

    }
    
    @media (max-width: 576px) {
      
      
    
        .menu-btn  {
            display: block;
            margin: 0;
            padding: 0;
            
        }
        .menu-btn:hover {
            opacity: 0.5;
        }
        a {
            color: #fff;
        }
        .nav-main ul.nav-menu {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: #32363a;
            width: 50%;
            height: 100%;
            border-right: #ccc 1px solid;
            opacity: 0.9;
            padding: 30px;
            transform: translateX(-500px);
            transition: transform 0.5s ease-in-out;
        }
        .nav-main ul.nav-menu li {
            padding: 20px;
            border-bottom: #ccc solid 1px;
            font-size: 14px;
        }
        .nav-main ul.nav-menu li:last-child {
            border-bottom: 0;
        }
        .nav-main ul.nav-menu.show {
            transform: translateX(-20px);
        }
        .nav-main ul.nav-menu-right {
            margin-right: 20px;
        }
        .cartas-servicios {
            grid-template-columns: 1fr;
            
        }
       
        .opciones {
            grid-template-columns: 1fr;
        
        }
    


        .servicios{
            grid-template-columns: 1fr;
            
            
        }


        .logos-marca{
           margin: 0;
            
        }

        .slider{
            height: 100%;
            
        }
           
        
        .banner{
            width: 100%;
        }

        .secciones{
            display: grid;
            grid-template-columns: 1fr;
        }
       
    }   

    @media (max-width: 372px) {
        
        .nav-main{
            margin: 0;
            padding: 0;
        }

       
       
        .menu-btn:hover {
            opacity: 0.5;
        }
        .nav-main ul.nav-menu {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #0303028c;
            width: 50%;
            height: 100%;
            border-right: #ccc 1px solid;
            opacity: 1.5;
            padding: 30px;
            transform: translateX(-500px);
            transition: transform 2s ease-in-out;
        }
        .nav-main ul.nav-menu li {
            padding: 20px;
            border-bottom: #ccc solid 1px;
            font-size:14px;
            
        }

        .nav-main ul.nav-menu li:last-child {
            border-bottom: 0;
        }
        .nav-main ul.nav-menu.show {
            transform: translateX(-20px);
        }
        
        .nav-main ul.nav-menu-right {
            margin-right: 20px;
        }
      
    
        .historia_descripcion{
            
            
            margin: 0;
            padding: 0;
        }

        .historia_maquinas h2{
            
            
            margin-bottom: 20px;

        }
         
        .menu_contacto{
            
            margin: 0;
            padding: 0;
            
            
        }

        .menu_horarios{
           
            margin: 0;
            padding: 0;
        
        }

        .logos-marca{
             
            margin: 0;
        }

        .social{
           
            margin: 0;
        }
        

        .servicios{ 
            margin-bottom: 20px;
        }

        .servicios div{
            padding: 0;
            margin: 0;  
        }

        .servicios div h2{
            margin: 0;
            
        }

        .servicios div img {
            margin: 0;
            
            
        }


        .cartas-servicios{
            
            margin-left: 0;
        }
    

       .nosotros{
           margin: 0;
           padding: 0;
       }
    }